/* You can add global styles to this file, and also import other style files */
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
@import url('https://unpkg.com/bootstrap@4.0.0-alpha.6/dist/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.nav-buffer{
  margin-top:70px
}

/*common Slideshow css starts*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 30px;
  float : left;
  background-color: #eceeef;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin: 30px;
}
.mySlides:first-child {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px;
}
.prev {
  left: 0px;
  border-radius: 5px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color : white !important;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container .active, .slideshow-container .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.faded {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*common Slideshow css ends*/
